
// COLORS
$color-primary: #e1090a;
$color-secondary: #1b2a88;

// GRAYSCALES
$color-white: #fff;
$color-whitesmoke: whitesmoke;
$color-light_grey200: #e5e5e5;
$color-light_grey300: #bfbfbf;
$color-black: #000;
